<%= render  "shared/header" %>
<div class="container">
<div class="card">
        <div class="card-header" style="background-color: #ff9697;">Experience</div>
        <div class="card-body">
                Qui nisi culpa ex consectetur elit. Laboris consectetur ullamco duis dolor sit in. Nulla aute culpa et voluptate ad ut excepteur proident sit consectetur culpa laboris cupidatat. Dolor incididunt Lorem consequat cillum anim duis voluptate proident aute consequat do.
        </div>
    </div>
</div>
<%= render  "shared/footer" %>