<footer class="footer">
    
</footer>
<nav class="navbar fixed-bottom navbar-light" style="background-color: #ff9697;">
  <a class="navbar-brand" href="#">Building with Ruby On Rails. All right reserved 2018</a>
</nav>