<%= render  "shared/header" %>
<div class="container">
    <img class="img-responsive" src="https://christianliebel.com/wp-content/uploads/2016/02/Angular2-825x510.png"/>
    <a href="profile" class="btn btn-info">Navigate To Profile</a>
</div>
<%= render  "shared/footer" %>